.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vw 9vw 8vw;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    padding-top: 3rem;
}

.why-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    text-align: center;
    background-color: rgb(5, 117, 188);
    background-color: #52738E;
    background-color: #00294B;
    /* background: linear-gradient(135deg,  #023763, #00294B); */
    color: white;
    padding: 1rem;
    /* border-radius: .5rem; */
}

.why-card i {
    font-size: 2em;    
    margin: 1rem;    
}

.why-card h6 {
    font-size: 2rem;
    border-bottom: 2px solid rgb(5, 117, 188);
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    /* #52738E;*/
    width: 100%;

}