* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed;
    width: 96%;
    z-index: 111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00294B;
    color: 333;
    padding: .25rem 2rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 23px -17px;
    overflow: hidden;
}

.logo img {
    max-height: 60px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


/*
.menu li {
    margin: 0;
    padding: 0;
    display: flex; 
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    flex-grow: 1; 
    text-align: center;
}

.menu a:hover {
    background-color: #023a68;
}

*/

.menu a {
    color: white;
    text-decoration: none;
    padding: 60px 2vw;
    /* font-size: 1.5rem; */
    font-size: 22px;

}


.menu a:hover {
    background-color: #023a68;
}

nav .cta {
    background-color: #00be00;
    border-radius: 3px;
    padding: 8px 16px;
    font-weight: 700;
}

nav .cta:hover {
    background-color: #10af10;
}

nav .cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-whatsapp {
    font-size: 20px;
    font-weight: 600;
    /* Hace que el icono sea más grueso */
}

.toggle-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

.hero {
    padding-top: 72px;
}

.hero h5 {
    color: white;
}

.image-layer {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background: url(./assets/imgs/businessman.jpg) no-repeat center center/cover;
    /* background-size: contain; */
    overflow: hidden;
    padding-top: 15rem;
    /* padding-bottom: 20rem; */
}

.text-layer {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 50%;
    /* Ocupa la mitad izquierda */
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12vw 9vw;
    gap: 1vw;
}

.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 36, 66, 0.6);
    z-index: 1;
    pointer-events: none;
}

.hero .text-layer h1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero .text-layer h5 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero .text-layer p {
    font-size: 2rem;
}

main button {
    background-color: rgb(5, 117, 188);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 45px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

main button:hover {
    background-color: #023a68;
}


main button:active {
    background-color: #022f53;
}

main img {
    border-radius: .5rem;

}

.wrapper {
    padding: 12vw 9vw;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding-bottom: 12vw;
}

.blanca {
    background-color: white;
    color: #7a838b;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.container-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-img {
    flex: 1;
}

.container-img img {
    width: 100%;
    height: auto;
}

h2 {
    color: rgb(0, 41, 75);
    font-weight: 500;
    font-size: 5rem;
}

h3 {
    color: rgb(0, 41, 75);
    font-weight: 500;
    font-size: 2rem;
}

h5 {
    color: #7a838b;
    font-size: 2rem;
    text-transform: uppercase;
}

.blanca p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

main button {
    margin-top: 2rem;
    width: max-content;
}

.invertida {
    flex-direction: row-reverse;
}

.cta-azul {
    background-color: #52738E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.cta-azul--claro {
    background-color: rgb(5, 117, 188);
}

.cta-azul p {
    width: 80%;
    padding: 30px;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.azul {
    background-color: #52738E;
    color: white;
    display: flex;
    gap: 5rem;
    height: 500px;
    padding: 12vw 9vw;
    justify-content: center;
    align-items: center;
}


.azul h2 {
    color: white;
    font-weight: 500;
    font-size: 5rem;
}

.azul h3 {
    color: rgb(0, 41, 75);
    font-weight: 500;
    font-size: 2rem;
}

.azul h5 {
    color: #001628;
    font-size: 2rem;
    text-transform: uppercase;
}


.azul p {
    font-size: 1.5rem;
    margin-top: 1rem;
}


.container-text ul {
    list-style-type: disc;
    /* Viñetas de estilo disco */
}

.container-text ul li {
    margin-top: 1rem;
}

/* Cards */
.testimonial-cards {
    padding: 8vw 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fa-star {
    color: #EFC319;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.card {
    flex: 1 0 18rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: 20px;
    margin: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 35px -14px;
}

.card .card-stars {
    margin: 0 0 1.5rem;
    padding: 1px;
}

.card p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #6a6b6c;
}

.card-person {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    gap: 1rem;
    margin-top: 1rem;
}

.card-name p {
    font-family: 'Inter', sans-serif;
    color: #204147;
    font-weight: 700;
    font-size: 15px;
    margin-top: 0;
}

.card-photo img {
    width: 34px;
}



/* Pricing */

.pricing {
    background-color: #f7f7f7;

    /* font-size: 15px; */
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #7a838b;

    /* font-weight: 700; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw 0 8vw 0;
}


.pricing p {
    padding-top: 4rem;
    /* margin-top: 5rem; */
    font-size: 1rem;
}

.pricing span {
    font-size: 1rem;
}

.pricing .cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.pricing .card {
    background-color: #fff;
    color: hsl(233, 13%, 49%);
    color: #7a838b;
}

.pricing .cards .card.active {
    background-color: #023a68;

    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

.pricing ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing ul li {
    list-style: none;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
}

.pricing ul li.pack {
    font-size: 1.5rem;
}

.pricing ul li.price {
    font-size: 4.5rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.pricing .shadow {
    box-shadow: -5px 5px 15px 1px rgb(0, 0, 0, 0.1);
}

.pricing a .btn {
    background-color: #023a68;
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    border: 0;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pricing .active a .btn {
    background-color: white;
    color: #023a68;
}


.pricing a .btn:hover {
    background-color: #00294B;
}

.pricing .btn:active {
    transform: translateY(1px);
}

.pricing .btn.active-btn {
    background: #fff;
    color: #023a68;
}

.pricing .btn.active-btn:hover {
    background: linear-gradient(135deg,
            rgb(240, 241, 248) 0%,
            rgb(240, 241, 248) 0%);
}

.pricing .active-btn:active {
    background: hsl(237, 63%, 84%);
    transform: translateY(1px);
}

.pricing .bottom-bar {
    border-bottom: 2px solid hsl(240, 8%, 85%, 0.583);
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 9vw;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    padding-top: 3rem;
}

.why-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    text-align: center;
    background-color: #00294B;
    color: white;
    padding: 1.25rem;
    /* transition: background-color 0.3s ease;  Transiciones suaves para los efectos     */
}

.why-card:hover {
    background-color: #004475;

}

.why-card i {
    font-size: 2em;
    margin: 1rem;
}

.why-card h6 {
    font-size: 2rem;
    border-bottom: 2px solid rgb(5, 117, 188);
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    /* #52738E;*/
    width: 100%;

}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 0 8vw 0;
    /* background-color: #f7f7f7; */
}

.formulario h5 {
    padding-bottom: 2rem;

}

.grid-form {
    display: grid;
    grid-column-gap: 90px;
    /* Espacio entre las columnas */
    grid-row-gap: 2rem;
    /* Espacio entre las filas */
    grid-template-areas:
        "nombre mail"
        "telefono asunto"
        "mensaje mensaje"
        "button button";
    /* Cambio para el botón */
    justify-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    grid-area: button;
    /* Nuevo nombre para el área */
}

input {
    height: 63px;
    width: 100%;
    /* 100% para que tome todo el espacio de la celda */
    border: none;
    background-color: #edf3f6;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    grid-area: mensaje;
    font-size: 14px;
    color: var(--conult-gray);
    height: 180px;
    width: 100%;
    /* 100% para que tome todo el espacio de la celda */
    background-color: #edf3f6;
    padding: 18px 30px 30px;
    border: none;
    border-radius: 0;
    outline: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 20px;
    /* Espacio entre el botón y el textarea */
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #001628;
    color: white;
    padding: 1vw;
    gap: 1vw;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    border-bottom: 1px solid #6a6b6c;
    padding: 2vw;
    margin: 0 10vw;
    width: 90%;
}

.footer-bottom {
    padding: 1vw;
}

.mail,
.telefono,
.direccion,
.telefono a,
.direccion a,
.footer-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
}

.fas,
.fab {
    font-size: 1.5rem;
    /* ajusta según lo que necesites */
    margin-right: 10px;
    /* añade un margen para separar el ícono del texto */
}



@media screen and (max-width: 815px) {

    .menu {
        z-index: 100;
        display: none;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #00294B;
    }

    nav {
        padding: 0;
    }

    .hero {
        padding-top: 60px;
    }

    .menu a {
        padding: 6px 10vw;
    }

    .logo img {
        max-width: 70px;
    }

    .menu.active {
        display: flex;
        z-index: 10110;
        align-items: center;
        gap: .5rem;
        padding-bottom: 1rem;
    }

    .toggle-menu {
        display: block;
        padding-right: 2rem;
        margin-top: 0;
    }

    .navbar .cta {
        display: none;
    }

    .hero .text-layer {
        padding: 5rem 2rem;
    }

    .hero .text-layer h1 {
        font-size: 3rem;
    }

    .hero .text-layer h5 {
        font-size: 1.5rem;
    }

    .hero .text-layer p {
        font-size: 1.25rem;
    }

    .wrapper {
        padding: 8vw 5vw;
        gap: 5rem;
    }

    .blanca button {
        width: 100%;
    }

    .blanca,
    .azul {
        flex-direction: column;
        gap: 2rem;
        padding: 2vw 5vw;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .cta-azul {
        padding: 20px;
    }

    .cta-azul--claro {
        background-color: rgb(5, 117, 188);
    }

    .cta-azul p {
        width: 93%;
        padding: 10px;
        border: 1px solid white;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }

    .pricing .cards {
        justify-content: center;
        padding-top: 2rem;
    }

    .why-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .formulario {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .grid-form {
        grid-template-areas:
            "nombre"
            "mail"
            "telefono"
            "asunto"
            "mensaje"
            "button";
        gap: 10px;
    }


    .footer-wrapper {
        flex-direction: column;
        gap: 1rem;
    }
}